/* Responsive video wrapper */
.video-responsive {
    overflow: hidden;
    /* 16:9 aspect ratio (height / width = 9 / 16 = 0.5625) */
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}